html, body {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

/* Header Section */

header {
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.pre-header {
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  width: 960px;
  margin: 1rem auto 0 auto;
  padding: 1rem 0 1rem 2rem;
  height: 1rem;
}

#branding {
  display: flex;
  flex-grow: 1;
}

#logo {
  height: 1.5rem;
  margin-right: 1rem;
  display: inline-block;
}

#primary-nav, #secondary-nav {
  display: flex;
  justify-content: space-between;
}

#primary-nav li, #secondary-nav li {
  display: inline-block;
  margin-right: 2rem;
}

#secondary-nav {
  display: none;
}

.slogan {
  margin-top: 10rem;
  margin-right: 10rem;
}

.slogan p {
  background-color: white;
  padding: 1.5rem 5rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

/* Main Section */

main {
  width: 100%;
  margin: 3rem auto 5rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main div {
  width: 960px;
}

.icons {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.icon {
  height: 8rem;
  width: 5rem;
  margin-right: 6rem;
  text-align: center;
}

.icon img {
  width: 3.5rem;
}

.philosophy-appointments {
  display: flex;
}

.philosophy-appointments div {
  width: 35%;
  margin-right: 5%;
}

.philosophy-appointments h3 {
  background-color: cadetblue;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

/* Footer Section */

footer {
  background-color: azure;
  width: 960px;
  padding: 4rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

footer img {
  margin-right: 1rem;
  height: 1.5rem;
}

/* Media Queries */

@media only screen and (max-width: 960px) {

  header {
    height: 22rem;
  }

  .pre-header {
    width: 100%;
    margin-top: 0;
  }

  .slogan {
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .slogan p {
    margin-top: 5rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }

  .philosophy-appointments {
    justify-content: center;
  }
}

@media only screen and (max-width: 650px) {

  header {
    height: 17rem;
    background-position: 20%;
  }

  #primary-nav {
    display: none;
  }

  #secondary-nav {
    display: inline-block;
  }

  .slogan {
    margin: 0;
    width: 100%;
    font-size: 1rem;
    padding: 1rem 0;
    text-align: center;
  }

  .icons {
    width: 100%;
    margin: 2.23rem auto;
    flex-wrap: wrap;
  }

  .icon {
    width: 100%;
    margin: 0 auto 1.54rem auto;
  }

  .icon p {
    font-size: 0.77rem;
  }

  .philosophy-appointments {
    flex-wrap: wrap;
  }

  .philosophy-appointments div {
    width: 100%;
    font-size: 0.77rem;
    margin: 0 auto;
  }

  .philosophy-appointments h3 {
    margin-bottom: 1rem;
    text-align: center;
  }

  #philosophy {
    margin-bottom: 4rem;
  }

  footer {
    justify-content: center;
    width: 100%;
    padding: 4rem 0;
  }

  footer p {
    display: none;
  }

  footer img {
    height: 100%;
  }
}









/**/
